In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
pokemon_df = pd.read_csv('./pokemon_base_stats.csv')
pokemon_df

,Pokemon_Name,hp,attack,defense,special attack,special defense,speed
0,bulbasaur,45,49,49,65,65,45
1,ivysaur,60,62,63,80,80,60
2,venusaur,80,82,83,100,100,80
3,charmander,39,52,43,60,50,65
4,charmeleon,58,64,58,80,65,80
...,...,...,...,...,...,...,...
1005,iron-valiant,74,130,90,120,60,116
1006,koraidon,100,135,115,85,100,135
1007,miraidon,100,85,100,135,115,135
1008,walking-wake,99,83,91,125,83,109
1009,iron-leaves,90,130,88,70,108,104

In [73]:
black_and_white_df = pokemon_df.iloc[494:635]
black_and_white_df

    Pokemon_Name  hp  attack  defense  special attack  special defense  speed
494        snivy  45      45       55              45               55     63
495      servine  60      60       75              60               75     83
496    serperior  75      75       95              75               95    113
497        tepig  65      63       45              45               45     45
498      pignite  90      93       55              70               55     55
..           ...  ..     ...      ...             ...              ...    ...
630      heatmor  85      97       66             105               66     65
631       durant  58     109      112              48               48    109
632        deino  52      65       50              45               50     38
633     zweilous  72      85       70              65               70     58
634    hydreigon  92     105       90             125               90     98

[141 rows x 7 columns]

In [84]:
black_and_white_df.describe()

,hp,attack,defense,special attack,special defense,speed,base_stats_total
count,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000,141.000000
mean,68.241135,78.460993,69.503546,64.702128,64.468085,63.191489,408.567376
std,21.170364,28.635522,22.609614,26.422324,20.128002,27.262982,89.352696
min,30.000000,25.000000,32.000000,15.000000,25.000000,10.000000,255.000000
25%,52.000000,55.000000,50.000000,45.000000,50.000000,44.000000,316.000000
50%,65.000000,75.000000,65.000000,60.000000,63.000000,60.000000,418.000000
75%,75.000000,100.000000,85.000000,81.000000,79.000000,80.000000,489.000000
max,165.000000,147.000000,145.000000,145.000000,135.000000,145.000000,600.000000

In [85]:
# Is there correlation between base stats?
black_and_white_df.corr()

# def and sp def have the highest correlation, then hp vs. attack, hp vs. spe def, sp att vs. sp def

,hp,attack,defense,special attack,special defense,speed,base_stats_total
hp,1.000000,0.492466,0.307333,0.263295,0.413201,0.133218,0.684107
attack,0.492466,1.000000,0.386515,0.056741,0.178797,0.315459,0.688268
defense,0.307333,0.386515,1.000000,0.109608,0.611168,-0.126095,0.581337
special attack,0.263295,0.056741,0.109608,1.000000,0.406088,0.264425,0.576168
special defense,0.413201,0.178797,0.611168,0.406088,1.000000,0.033275,0.665350
speed,0.133218,0.315459,-0.126095,0.264425,0.033275,1.000000,0.491559
base_stats_total,0.684107,0.688268,0.581337,0.576168,0.665350,0.491559,1.000000

In [74]:
hp_df = black_and_white_df.sort_values(by='hp', ascending=False).head(20)
hp_df

,Pokemon_Name,hp,attack,defense,special attack,special defense,speed
593,alomomola,165,75,80,40,45,65
537,throh,120,100,85,30,85,45
517,musharna,116,55,85,107,95,29
590,amoonguss,114,85,70,85,80,30
578,reuniclus,110,65,75,125,85,30
499,emboar,110,123,65,100,65,65
629,mandibuzz,110,65,105,55,95,80
529,excadrill,110,135,60,50,65,88
617,stunfisk,109,66,84,81,99,32
554,darmanitan-standard,105,140,55,30,55,95
536,seismitoad,105,95,75,85,75,74
533,conkeldurr,105,140,95,55,65,45
530,audino,103,60,86,60,86,50
592,jellicent,100,60,70,85,105,60
627,braviary,100,123,75,57,75,80
625,bouffalant,95,110,95,40,95,55
502,samurott,95,100,85,108,70,70
552,krookodile,95,117,80,65,70,92
613,beartic,95,130,80,70,80,50
634,hydreigon,92,105,90,125,90,98

In [75]:
attack_df = black_and_white_df.sort_values(by='attack', ascending=False).head(20)
attack_df

,Pokemon_Name,hp,attack,defense,special attack,special defense,speed
611,haxorus,76,147,90,60,70,97
566,archeops,75,140,65,112,65,110
554,darmanitan-standard,105,140,55,30,55,95
533,conkeldurr,105,140,95,55,65,45
588,escavalier,70,135,105,60,105,20
525,gigalith,85,135,130,60,80,25
529,excadrill,110,135,60,50,65,88
613,beartic,95,130,80,70,80,50
624,bisharp,65,125,100,60,70,70
538,sawk,75,125,75,30,75,85
619,mienshao,65,125,60,95,60,105
622,golurk,89,124,80,55,80,55
499,emboar,110,123,65,100,65,65
627,braviary,100,123,75,57,75,80
620,druddigon,77,120,90,60,90,48
610,fraxure,66,117,70,40,50,67
552,krookodile,95,117,80,65,70,92
520,unfezant,80,115,80,65,55,93
603,eelektross,85,115,80,105,80,50
565,archen,55,112,45,74,45,70

In [76]:
defense_df = black_and_white_df.sort_values(by='defense', ascending=False).head(20)
defense_df

    Pokemon_Name   hp  attack  defense  special attack  special defense  speed
562   cofagrigus   58      50      145              95              105     30
564   carracosta   74     108      133              83               65     32
597   ferrothorn   74      94      131              54              116     20
525     gigalith   85     135      130              60               80     25
557      crustle   70     105      125              65               75     45
600    klinklang   60     100      115              70               85     90
559      scrafty   65      90      115              45              115     58
631       durant   58     109      112              48               48    109
524      boldore   70     105      105              50               40     20
629    mandibuzz  110      65      105              55               95     80
588   escavalier   70     135      105              60              105     20
563     tirtouga   54      78      103              53               45     22
624      bisharp   65     125      100              60               70     70
543   whirlipede   40      55       99              40               79     47
599        klang   60      80       95              70               85     50
575   gothitelle   70      55       95              95              110     65
496    serperior   75      75       95              75               95    113
625   bouffalant   95     110       95              40               95     55
533   conkeldurr  105     140       95              55               65     45
596    ferroseed   44      50       91              24               86     10

In [77]:
special_attack_df = black_and_white_df.sort_values(by='special attack', ascending=False).head(20)
special_attack_df

    Pokemon_Name   hp  attack  defense  special attack  special defense  speed
608   chandelure   60      55       90             145               90     80
634    hydreigon   92     105       90             125               90     98
605     beheeyem   75      75       75             125               95     40
577      duosion   65      40       50             125               60     30
578    reuniclus  110      65       75             125               85     30
570      zoroark   60     105       60             120               60    105
566     archeops   75     140       65             112               65    110
583    vanilluxe   71      95       85             110               95     79
548    lilligant   70      60       75             110               75     90
502     samurott   95     100       85             108               70     70
517     musharna  116      55       85             107               95     29
555     maractus   75      86       67             106               67     60
576      solosis   45      30       40             105               50     20
603   eelektross   85     115       80             105               80     50
630      heatmor   85      97       66             105               66     65
560     sigilyph   72      58       80             103               80     97
499       emboar  110     123       65             100               65     65
616     accelgor   80      70       40             100               60    145
515     simipour   75      98       63              98               63    101
511     simisage   75      98       63              98               63    101

In [78]:
special_defense_df = black_and_white_df.sort_values(by='special defense', ascending=False).head(20)
special_defense_df

    Pokemon_Name   hp  attack  defense  special attack  special defense  speed
614    cryogonal   80      50       50              95              135    105
597   ferrothorn   74      94      131              54              116     20
559      scrafty   65      90      115              45              115     58
575   gothitelle   70      55       95              95              110     65
562   cofagrigus   58      50      145              95              105     30
592    jellicent  100      60       70              85              105     60
588   escavalier   70     135      105              60              105     20
617     stunfisk  109      66       84              81               99     32
583    vanilluxe   71      95       85             110               95     79
496    serperior   75      75       95              75               95    113
629    mandibuzz  110      65      105              55               95     80
517     musharna  116      55       85             107               95     29
625   bouffalant   95     110       95              40               95     55
605     beheeyem   75      75       75             125               95     40
608   chandelure   60      55       90             145               90     80
634    hydreigon   92     105       90             125               90     98
620    druddigon   77     120       90              60               90     48
507    stoutland   85     110       90              45               90     80
596    ferroseed   44      50       91              24               86     10
530       audino  103      60       86              60               86     50

In [79]:
speed_df = black_and_white_df.sort_values(by='speed', ascending=False).head(20)
speed_df

,Pokemon_Name,hp,attack,defense,special attack,special defense,speed
616,accelgor,80,70,40,100,60,145
546,whimsicott,60,67,85,77,75,116
522,zebstrika,75,100,63,80,63,116
572,cinccino,75,95,60,65,60,115
527,swoobat,67,57,55,77,55,114
496,serperior,75,75,95,75,95,113
544,scolipede,60,100,89,55,69,112
566,archeops,75,140,65,112,65,110
631,durant,58,109,112,48,48,109
595,galvantula,70,77,60,97,60,108
509,liepard,64,88,50,88,50,106
614,cryogonal,80,50,50,95,135,105
619,mienshao,65,125,60,95,60,105
570,zoroark,60,105,60,120,60,105
586,emolga,55,75,60,75,60,103
511,simisage,75,98,63,98,63,101
515,simipour,75,98,63,98,63,101
513,simisear,75,98,63,98,63,101
549,basculin-red-striped,70,92,65,80,55,98
580,swanna,75,87,63,87,63,98

In [80]:
black_and_white_df['base_stats_total'] = black_and_white_df['hp'] + black_and_white_df['attack'] + black_and_white_df['defense'] + black_and_white_df['special attack'] + black_and_white_df['special defense'] + black_and_white_df['speed']
black_and_white_df

C:\Users\Michael Okuda\AppData\Local\Temp\ipykernel_18224\464510282.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  black_and_white_df['base_stats_total'] = black_and_white_df['hp'] + black_and_white_df['attack'] + black_and_white_df['defense'] + black_and_white_df['special attack'] + black_and_white_df['special defense'] + black_and_white_df['speed']

,Pokemon_Name,hp,attack,defense,special attack,special defense,speed,base_stats_total
494,snivy,45,45,55,45,55,63,308
495,servine,60,60,75,60,75,83,413
496,serperior,75,75,95,75,95,113,528
497,tepig,65,63,45,45,45,45,308
498,pignite,90,93,55,70,55,55,418
...,...,...,...,...,...,...,...,...
630,heatmor,85,97,66,105,66,65,484
631,durant,58,109,112,48,48,109,484
632,deino,52,65,50,45,50,38,300
633,zweilous,72,85,70,65,70,58,420
634,hydreigon,92,105,90,125,90,98,600

In [83]:
black_and_white_df.sort_values(by='base_stats_total', ascending=False).head(30)

,Pokemon_Name,hp,attack,defense,special attack,special defense,speed,base_stats_total
634,hydreigon,92,105,90,125,90,98,600
566,archeops,75,140,65,112,65,110,567
611,haxorus,76,147,90,60,70,97,540
583,vanilluxe,71,95,85,110,95,79,535
496,serperior,75,75,95,75,95,113,528
499,emboar,110,123,65,100,65,65,528
502,samurott,95,100,85,108,70,70,528
600,klinklang,60,100,115,70,85,90,520
608,chandelure,60,55,90,145,90,80,520
552,krookodile,95,117,80,65,70,92,519
525,gigalith,85,135,130,60,80,25,515
603,eelektross,85,115,80,105,80,50,515
614,cryogonal,80,50,50,95,135,105,515
570,zoroark,60,105,60,120,60,105,510
627,braviary,100,123,75,57,75,80,510
619,mienshao,65,125,60,95,60,105,510
629,mandibuzz,110,65,105,55,95,80,510
536,seismitoad,105,95,75,85,75,74,509
529,excadrill,110,135,60,50,65,88,508
533,conkeldurr,105,140,95,55,65,45,505
613,beartic,95,130,80,70,80,50,505
507,stoutland,85,110,90,45,90,80,500
541,leavanny,75,103,80,70,80,92,500
515,simipour,75,98,63,98,63,101,498
513,simisear,75,98,63,98,63,101,498
511,simisage,75,98,63,98,63,101,498
522,zebstrika,75,100,63,80,63,116,497
588,escavalier,70,135,105,60,105,20,495
616,accelgor,80,70,40,100,60,145,495
564,carracosta,74,108,133,83,65,32,495